# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

/build.gradle
/classes/
/gradle/
/gradlew
/gradlew.bat
/gradle.properties
/pemc.iml
